name: Deploy action
description: Deploy action

inputs:
  NUGET_KEY:
    description: "The API key for NuGet"
    required: true

runs:
  using: "composite"
  steps:
    - uses: actions/upload-artifact@v4
      id: upload-artifact-1
      with:
        name: ${{env.ANGLEStaticName}}.7z
        path: ${{env.ANGLEStaticName}}.7z

    - uses: actions/upload-artifact@v4
      id: upload-artifact-2
      with:
        name: ${{ env.PackageName }}.nupkg
        path: ${{ env.PackageName }}.nupkg

    - uses: actions/attest-build-provenance@v2
      with:
        subject-name: ${{env.ANGLEStaticName}}.7z
        subject-digest: sha256:${{ steps.upload-artifact-1.outputs.artifact-digest }}

    - uses: actions/attest-build-provenance@v2
      with:
        subject-name: ${{ env.PackageName }}.nupkg
        subject-digest: sha256:${{ steps.upload-artifact-2.outputs.artifact-digest }}

    - if: startsWith(github.ref, 'refs/tags/')  && !contains(github.ref, '-pre')
      env:
        NUGET_KEY: ${{ inputs.NUGET_KEY }}
      shell: nu {0}
      run: dotnet nuget push $"($env.PackageName).nupkg" -k $env.NUGET_KEY -s https://api.nuget.org/v3/index.json

    - name: Prerelease artifacts
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')  && contains(github.ref, '-pre')
      with:
        prerelease: true
        files: |
          ${{env.ANGLEStaticName}}.7z
          ${{ env.PackageName }}.nupkg

    - name: Release artifacts
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')  && !contains(github.ref, '-pre')
      with:
        files: |
          ${{env.ANGLEStaticName}}.7z
          ${{ env.PackageName }}.nupkg
