name: build
on:
  push:
    paths:
      - ".github/workflows/**"
      - ".github/actions/**"
      - "args.gn"
      - "BUILD.gn"
      - "patch/**"
defaults:
  run:
    shell: nu {0}
env:
  ANGLE_Branch: 7151

jobs:
  build:
    runs-on: windows-2025
    permissions:
      id-token: write
      attestations: write
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/build
      - uses: ./.github/actions/deploy
        with:
          NUGET_KEY: ${{ secrets.NUGET_KEY }}
